<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="centro">
      <p class="calendario">Agregar nuevo evento</p>

      <input placeholder="Nombre del evento" type="text" id="nombre" />

      <br />

      <input placeholder="Tipo de evento" type="text" id="tipo" />

      <br />

      <input placeholder="A que va enfocado" type="text" id="enfoque" /> <br />

      <input placeholder="Fecha de inicio" type="text" id="fechaInicio" />
      <br />

      <input placeholder="Fecha de termino" type="text" id="fechaFinal" />
      <br />

      <input placeholder="descripcion pequeña" type="text" id="descripcion" />
      <br />

      <input placeholder="Repetir" type="text" id="repetir" />
      <br />

      <input placeholder="Lugar del evento" type="text" id="lugar" />
      <br />

      <input placeholder="Hora del evento" type="text" id="hora" />
      <br />

      <input placeholder="capacidad de personas" type="text" id="capacidad" />
      <br />

      <input placeholder="detalles del evento" type="text" id="detalles" />
      <br />

      <input placeholder="Usuario que registro" type="text" id="usuario" />
      <br />
      <button class="btn btn-danger" (click)="guardar()">Guardar</button>
      <br />
    </div>
  </body>
</html>
