<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="contenedor-centro">
      <div class="centro">
        <img src="../assets/user2.png" />
        <p class="calendario">Calendario Academico</p>

        <input placeholder="Usuario" type="text" id="usuario" />
        <br />
        <input placeholder="Contraseña" id="password" type="password" />

        <!--<p class="mscontraseña ">Mostrar Contraseña</p>

            <mat-slide-toggle color="primary " (click)="mostrar() "></mat-slide-toggle>
            -->
        <button mat-raised-button (click)="tlogin()">Ingresar</button>
      </div>
    </div>
  </body>
</html>
