<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="contenedor-centro">
        <img src="../assets/uta.png" />
        <div class="centro">

            <p class="calendario">Calendario Academico</p>

            <input mat-input placeholder="Usuario" type="text" id="usuario" ([ngModel])="matricula">
            <br />
            <input placeholder="Contraseña" id="password" type="password" ([ngModel])="password">


            <!--<p class="mscontraseña ">Mostrar Contraseña</p>

            <mat-slide-toggle color="primary " (click)="mostrar() "></mat-slide-toggle>
            -->
            <button mat-raised-button (click)="postlogin()">Ingresar</button>
        </div>
    </div>
</body>

</html>