<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">
    <nav>
        <a href="#" class="home">Home</a>
        <a routerLink="/calendarioAnual">Calendario Anual</a>
        <a href="#" class="calendarioCuatrimestral">Calendario mensual</a>
        <a href="#" class="login">Iniciar Sesion</a>
     </nav>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</body>
</html>