<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <p class="calendario">Usuarios Registrados</p>
    <div class="ta">




        <div id="Layer1" style=" height: 500px; overflow: scroll;">

            <table class="table ">
                <thead>
                    <tr>

                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Puesto</th>
                        <th scope="col">Activo</th>
                    </tr>
                </thead>

                <tbody id="contenido">
                    <tr>
                        <td>
                            <a class="btn btn-default"></a>
                            <a class="btn btn-danger"></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <br>
        <input placeholder="Ingrese Matricula de Usuario" type="text" id="Matricula" />
        <button (click)="activar()">Permitir</button>
        <input placeholder="Ingrese Matricula de Usuario" type="text" id="Matricula2" />
        <button (click)="desactivar()" style="background-color: rgb(248, 50, 50);">Denegar</button>
        <hr>
    </div>

</body>

</html>